//Media
@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}


//Fonts
@mixin gagalin() {
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	font-family: 'Lifehack-Medium';
}

//Background
@mixin bg-image($url) {
	background: no-repeat center / cover url($url);
}

@mixin bg-cover($position: center) {
	background-repeat: no-repeat;
	background-position: $position;
	background-size: cover;
}