.btn {
    @include ubuntu(medium);
    color: $white;
    font-size: 13px;
    text-transform: uppercase;
    padding: rem(13px) rem(16px);
    background-color: $orange;
    border-radius: 5px;

    &--secondary {
        background: none;
        text-transform: none;
    }
}